body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  touch-action: manipulation;
  background: var(--wallpaper) no-repeat center center fixed;
  background-size: cover;
}

#word-input {
  margin: 20px 20px 0 20px;
  width: 90%;
  font-size: 200%;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  border-bottom-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#word-input:focus {
  outline: none;
}

#word-buttons-wrapper {
  margin: 0 20px 20px 20px;
  display: flex;
  width: calc(90% + 8px);
}

#word-submit,
#word-backspace {
  font-size: 200%;
  font-weight: bold;
  width: 100%;
  border-top-width: 1px;
}

#word-backspace {
  border-right: none;
  border-bottom-left-radius: 5px;
}

#word-submit {
  border-bottom-right-radius: 5px;
}

#word-input.error,
#word-input.error + #word-buttons-wrapper {
  animation: horizontal-shaking 0.5s ease-in-out;
  background-color: red;
  color: white;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-1%);
  }
  75% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

#word-input.warning,
#word-input.warning + #word-buttons-wrapper {
  animation: vertical-shaking 0.5s ease-in-out;
  background-color: skyblue;
  color: white;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

#score {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

#letters-wrapper {
  margin: 10%;
}

#letters {
  font-size: 300%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#letter-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.letter {
  background: var(--primary);
  color: var(--secondary);

  -webkit-mask-image: var(--letter-shape);
  mask-image: var(--letter-shape);
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

.letter-0 {
  background: var(--secondary);
  color: var(--primary);
}

#solutions,
#score {
  text-shadow: -1px -1px 0 var(--secondary), 1px -1px 0 var(--secondary),
    -1px 1px 0 var(--secondary), 1px 1px 0 var(--secondary);
  color: var(--primary);
}

#solutions {
  width: 90%;
  font-size: 175%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
}

@media (min-width: 800px) {
  #solutions {
    grid-template-columns: repeat(3, 1fr);
  }
}

#solutions > * {
  max-width: 100%;
  text-align: center;
  color: inherit;
  text-decoration: none;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.confirm {
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.confirm > div {
  display: none;
}

.confirm.show > div {
  display: block;
}

.confirm.show > button {
  display: none;
}

#reset-wrapper {
  bottom: 10px;
  right: 10px;
}

#giveup-wrapper {
  bottom: 40px;
  right: 10px;
}

#hint-wrapper {
  bottom: 50px;
  left: 10px;
}

#settings-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#settings-overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

#settings-overlay-wrapper.show {
  display: block;
}

#settings-overlay {
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#settings-overlay > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-letters {
  font-family: monospace;
  width: 7ch;
}

button {
  font-size: 100%;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
}

.icon-button {
  font-size: 150%;
  width: 40px;
}
