body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--wallpaper) no-repeat center center fixed;
  background-size: cover;
}

#word-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px;
}

#word-input {
  width: 100%;
  font-size: 200%;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  border-right: none;
}

#word-backspace {
  border-right: none;
}

#word-submit,
#word-backspace {
  font-size: 200%;
}

#word-input-wrapper.error {
  animation: horizontal-shaking 0.5s ease-in-out;
}

#word-input-wrapper.error #word-input {
  background-color: red;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-1%);
  }
  75% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

#score {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

#letters-wrapper {
  margin: 10%;
}

#letters {
  font-size: 300%;
  display: flex;
  justify-content: space-between;
}

#letter-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.letter {
  background: var(--primary);
  color: var(--secondary);

  -webkit-mask-image: var(--letter-shape);
  mask-image: var(--letter-shape);
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

.letter-0 {
  background: var(--secondary);
  color: var(--primary);
}

#solutions,
#score {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#solutions {
  width: 90%;
  font-size: 175%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#solutions > div {
  max-width: 100%;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#reset-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

#reset-prompt {
  display: none;
}

#reset-wrapper.show #reset-prompt {
  display: block;
}

#reset-wrapper.show #reset-button {
  display: none;
}

#settings-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 150%;
}

#settings-overlay {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 5%;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 100;
  padding: 10px;

  flex-direction: column;
  gap: 10px;
}

#settings-overlay > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-overlay.show {
  display: flex;
}

button {
  font-size: 100%;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
}
